div{
}

body{
    margin:0px;
    background:lightgray;
    font-family: Google Sans;
}

.Header{
    margin:auto;
    background-color: white;
    height: 90px;
    align-content: center;
}

.Header h1{
    padding-left: 34%;
}

.contentS{
    width: 32%;
    height: 100%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.contentS-header{
    display:flex;
}

.contentS-header p{
    position:relative;
    display: block;
    align-content: center;
}

.contentS-header p:first-child{
    margin-right: auto;
    margin-left: 10px;
    font-size: 20px;
}

.contentS-header p:nth-child(2){
    margin-left: auto;
    margin-right: 10px;
    opacity: 0.6;
}


.contentS-image img{
    max-width: 100%;
}

.contentS-text{
    padding:5px;
    margin-left: 10px;
    text-align: justify;
    margin-right: 10px;
}